@model Task2.ViewModels.PageIndexViewModel
@addTagHelper "*, Task2"

<h2 align="center">News Management</h2>

<style>
    body {
        background-color: #edeef0;
    }

    table {
        margin-top: 5%;
        background-color: white;
    }

    tr {
        width: auto;
        border-color: #edeef0;
    }

    .form-control {
        margin-top: 3%;
    }

    form {
        display: inline-block;
    }
</style>

@if (User.IsInRole("admin"))
{
    <a asp-area="" asp-controller="News" asp-action="CreateNews" class="btn form-control btn-success">Create news</a>
}

    <table class="table">
        @foreach (var news in Model.EnumNews)
        {
            <tr>
                <td align="center">
                    <div class="control-label">
                        <a asp-action="ViewNews" asp-route-id="@news.Id"><h3>@news.Caption</h3></a>
                    </div>
                </td>

                <td>
                    <div class="control-label">
                        Created: @news.DateOfCreating
                    </div>
                </td>

                @if (User.IsInRole("admin"))
                {
                    <td width="20%">
                        <div class="btn-group">

                            @if (news.IsPublished == true)
                            {

                                <form asp-action="UnpublishNews" asp-route-id="@news.Id" method="post" class="btn-group">
                                    <button type="submit" class="btn btn-toolbar btn-info">
                                        Unublish
                                    </button>
                                </form>

                            }

                            @if (news.IsPublished == false)
                            {

                                <form asp-action="PublishNews" asp-route-id="@news.Id" method="post" class="btn-group">
                                    <button type="submit" class="btn btn-toolbar btn-success">
                                        Publish
                                    </button>
                                </form>

                            }

                            <form asp-action="EditNews" asp-route-id="@news.Id" method="get" class="btn-group">
                                <button type="submit" class="btn btn-toolbar btn-primary">
                                    Edit
                                </button>
                            </form>

                            <form asp-action="DeleteNews" asp-route-id="@news.Id" method="post" class="btn-toobar">
                                <button type="submit" class="btn btn-toolbar btn-danger">
                                    Delete
                                </button>
                            </form>

                        </div>
                    </td>
                }
            </tr>
        }
    </table>

<page-link page-model="Model.PageViewModel" page-action="NewsManagement"></page-link>
