@model Task2.ViewModels.PageIndexViewModel
@addTagHelper "*, Task2"

<h2 align="center">News Management</h2>

<style>
    body {
        background-color: #edeef0;
    }
   
    table {
        margin-top: 5%;
        background-color: white;
    }

    tr {
        width: auto;
        border-color: #edeef0;
    }

    .form-control {
        margin-top: 3%;
    }

</style>

@if (User.IsInRole("admin"))
{
    <a asp-area="" asp-controller="News" asp-action="CreateNews" class="btn form-control btn-success">Create news</a>
}

    <table class="table">
        @foreach (var news in Model.EnumNews)
        {

        <tr>
            <td align="center">
                <div class="control-label">
                    <a asp-action="ViewNews" asp-route-id="@news.Id"><h3>@news.Caption</h3></a>
                </div>
            </td>

            <td>
                <div class="control-label">
                    Created: @news.DateOfCreating
                </div>
            </td>

            @*<td align="center">
            <img src="@news.ImageURL">
        </td>

        <td>
            @Html.Raw(news.Text)
        </td>*@

            @if (User.IsInRole("admin"))
            {

                <td>
                    <a asp-action="ViewNews" asp-route-id="@news.Id" class="btn btn-sm btn-success">
                        View
                    </a>
                </td>

                @if (news.IsPublished == true)
                {
                    <td>
                        <form asp-action="UnpublishNews" asp-route-id="@news.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Unublish
                            </button>
                        </form>
                    </td>
                }

                @if (news.IsPublished == false)
                {
                    <td>
                        <form asp-action="PublishNews" asp-route-id="@news.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Publish
                            </button>
                        </form>
                    </td>
                }

                <td>
                    <form asp-action="EditNews" asp-route-id="@news.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-warning">
                            Edit
                        </button>
                    </form>
                </td>

                <td>
                    <form asp-action="DeleteNews" asp-route-id="@news.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>

            }
        </tr>

        }
    </table>

<page-link page-model="Model.PageViewModel" page-action="NewsManagement"></page-link>
