@*@model IEnumerable<Task2.Models.News>*@
@model Task2.ViewModels.PageIndexViewModel
@addTagHelper "*, Task2"

<h2 align="center">News Collection</h2>

<style>
    body {
        background-color: #edeef0;
    }

    table {
        margin-top: 5%;
        background-color: white;
    }

    .control-label {
        align-self: center;
    }

    tr {
        border-style: hidden;
        width: auto;
    }

    .form-control {
        margin-top: 3%;
    }

    img {
        width: 80%;
    }
</style>


@foreach (var news in Model.EnumNews)
{
    @if (news.IsPublished == true)
    {
        <table class="table">
            <tr>
                <td align="center">
                    <div class="control-label">
                        <a asp-action="ViewNews" asp-route-id="@news.Id"><h2>@news.Caption</h2></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <img src="@news.ImageURL">
                </td>
            </tr>

        </table>
    }
}

<page-link page-model="Model.PageViewModel" page-action="NewsCollection"></page-link>

@*
@if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="NewsCollection"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous Page
        </a>
    }

    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="NewsCollection"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-default btn">
            Next Page
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }*@