@*@model IEnumerable<Task2.Models.News>*@
@model Task2.ViewModels.PageIndexViewModel
@addTagHelper "*, Task2"

<h1 align="center"><b>News Collection</b></h1>

<style>
    body {
        background-color: #edeef0;
    }

    table {
        margin-top: 3%;
        background-color: white;
    }

    .control-label {
        align-self: center;
    }

    tr {
        border-style: hidden;
        width: auto;
    }

    .form-control {
        margin-top: 3%;
    }

    img {
        width: 80%;
        margin-bottom: 3%;
    }

    p {
        margin-bottom: 3%;    
    }

    .newstext {
        margin-left: 3%;
        margin-right: 3%;
    }

    .control-label {
        padding-left: 2%;
        padding-right: 2%;
    }
    .description {
        color: rgba(0, 0, 0, 0.86);
        font-family: &quot;
        font-size: 19px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-weight: 400;
        letter-spacing: normal;
        orphans: 2;
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }
</style>

<page-link page-model="Model.PageViewModel" page-action="NewsCollection"></page-link>

@foreach (var news in Model.EnumNews)
{
    @if (news.IsPublished == true)
    {
        <table class="table">

            <tr>
                <td align="center">
                    <div class="control-label">
                        <a asp-action="ViewNews" asp-route-id="@news.Id"><h1><b>@news.Caption</b></h1></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <img src="@news.ImageURL">
                </td>
            </tr>

            <tr>
                <td>
                    <div class="newstext">
                        <p>
                            <div class="description">                        
                                @news.Description
                            </div>
                            <a asp-action="ViewNews" asp-route-id="@news.Id">Show more</a>
                        </p>
                    </div>
                </td>
            </tr>

        </table>
    }
}

<page-link page-model="Model.PageViewModel" page-action="NewsCollection"></page-link>


<script>
        function title() {
            var elem = document.getElementsByClassName('description');
            var text = elem.innerHTML;
            var size = 150;
            for (var i = 0; i < 10; i++) {
                if (elem[i].innerHTML.length > size) {
                    text = elem[i].innerHTML.substr(0, size);
                }
                else {
                    text = elem[i].innerHTML.substr(0, elem[i].innerHTML.length);
                }
                elem[i].innerHTML = text+"...";
            }
        }
        title();
    </script>