@model Task2.ViewModels.NewsViewModel
@{
    ViewData["Title"] = "ViewFavourites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body {
            background-color: #edeef0;
        }

        form {
            display: inline-block;
        }

        .news_conteiner {
            background-color: white;
            padding-left: 2%;
            padding-right: 5%;
            margin-top: 24px;
            margin-bottom: 0px;
            color: rgba(0, 0, 0, 0.86);
            font-family: &quot;
            font-size: 19px;
            font-style: normal;
            font-variant-ligatures: normal;
            font-variant-caps: normal;
            font-weight: 400;
            letter-spacing: normal;
            orphans: 2;
            text-align: start;
            text-indent: 0px;
            text-transform: none;
            white-space: normal;
            widows: 2;
            word-spacing: 0px;
            -webkit-text-stroke-width: 0px;
            text-decoration-style: initial;
            text-decoration-color: initial;
        }

        p {
            padding-left: 5%;
            padding-right: 5%;
        }

        .news_text {
            margin-left: 5%;
        }

        .btn-group {
            margin-bottom: 3%;
        }

        .tools {
            margin-left: 5%;
        }

        .control-label {
            padding: 2%;
        }

        .image {
            margin-bottom: 2%;
        }
    </style>

</head>

<div class="news_conteiner">

    <div class="control-label">
        <h1 class="text-center"><b>@Model.Caption</b></h1>
    </div>

    <div class="image" align="center">
        <img src="@Model.ImageURL">
    </div>

    <div class="descripton">
        <p>@Model.Description</p>
    </div>

    <div class="news_text">
        <p>@Html.Raw(Model.Text)</p>
    </div>

    @if (User.IsInRole("admin"))
    {
        <div class="tools">
            <div class="btn-group">
                <form asp-action="EditNews" asp-route-id="@Model.Id" method="get" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-primary">
                        Edit
                    </button>
                </form>

                <form asp-action="DeleteNews" asp-route-id="@Model.Id" method="post" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
</div>