@model Task2.Models.News
@{
    ViewData["Title"] = "ViewNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body {
            background-color: #edeef0;
        }

        table {
            background-color: white;
        }

        tr {
            border-style: hidden;
            width: auto;
        }

        p {
            padding-left: 5%;
            padding-right: 5%;
        }

        .news_text {
            margin-left: 5%;
        }

        form {
            display: inline-block;
        }

        .News_content {
            background-color: white;
            padding-left: 2%;
            padding-right: 5%;
        }

        .btn-group{
            margin-bottom:3%;
        }
        .tools{
            margin-left:5%;
        }

        .control-label{
            padding:2%;
        }
    </style>

</head>

<div class="News_content">

    <div class="control-label">
        <h1 class="text-center"><b>@Model.Caption</b></h1>
    </div>

    <div class="image" align="center">
        <img src="@Model.ImageURL">
    </div>

    <div class="news_text">
        <p>@Html.Raw(Model.Text)</p>
    </div>

    @if (User.IsInRole("admin"))
    {
        <div class="tools">
            <div class="btn-group">
                <form asp-action="EditNews" asp-route-id="@Model.Id" method="get" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-primary">
                        Edit
                    </button>
                </form>

                <form asp-action="DeleteNews" asp-route-id="@Model.Id" method="post" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
</div>